

Registro
<form action="{{ path('registro') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="TxtUsuario" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="TxtPassword" />
    
    <label for="email">Correo:</label>
    <input type="text" id="email" name="TxtEmail" />

    <button type="submit">crear</button>
</form>
