{% extends '::base.html.twig' %}
{% block content %}
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Basto - Copias de seguridad</h1>
        <p>Aplicacion para el registro de copias de seguridad. Mantenga aseguradas con una compia de respaldo las bases de datos de su compañia y hogar.</p>
        <p>Aprender la importancia y necesidad de una copia puede costarnos mucho dinero.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Ver registros &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->
{% endblock %}
